@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
  rgb(var(--background-start-rgb));
} */

body {
  /* --background-end-rgb: 0, 0, 139, 0.7;
  background: rgb(var(--background-end-rgb)); */
  background: linear-gradient(
    to right,
    rgba(4, 39, 71, 0.5),
    rgba(8, 53, 94, 0.4),
    rgba(29, 88, 143, 0.3),
    rgba(28, 85, 138, 0.2),
    rgba(29, 88, 143, 0.3),
    rgba(8, 53, 94, 0.4),
    rgba(4, 39, 71, 0.5)
  );
}
